.testTableClass {
  font-size: 0.8rem;
}

.testTableClass th {
  font-weight: bold;
}

.testTableClass th:nth-of-type(odd) {
  background-color: white;
  color: green;
}

.testCellClass1 {
  background-color: red;
}